._visuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.text-center {
    text-align: center;
}

._bg-gray {
    background: var(--gray-light);
}

._gray {
    color: var(--gray);
}

._mb0 {
    margin-bottom: 0;
}

._pb0 {
    padding-bottom: 0 !important;
}

._mt40 {
    margin-top: 40px;
}
