.boxes {
   margin-top: 30px;

    &__box {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .trips & {
        &__box {
           padding: 0;
        }
    }
    .experiences & {
        &__box {
           padding-bottom: 0;
        }

        h3 {
            margin-bottom: 12px;
        }
    }

}

.col-center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

