@custom-media --sm-viewport only screen and (min-width: 576px);

@custom-media --md-viewport only screen and (min-width: 768px);

@custom-media --lg-viewport only screen and (min-width: 992px);

@custom-media --xl-viewport only screen and (min-width: 1200px);

@custom-media --max-575-viewport only screen and (max-width: 575px);

@custom-media --max-767-viewport only screen and (max-width: 767px);

@custom-media --max-991-viewport only screen and (max-width: 991px);

