:root {
    --text-color: #424242;
    --white: #fff;
    --gray: #646567;
    --gray-light: #eceded;
    --gray-dark: #646567;
    --green: #6aab9c;
    --red: #f9543c;
    --brick-color: #ee6a59;
}
