:root {
    --text-color: #000;
    --white: #fff;
    --gray: #597e87;
    --gray-dark: #1a5065;
    --gray-light: #6c9dab;
    --gray-ultra-light: #dadae0;
    --gray-dark: #78797c;
    --gray-blue: #dee9ed;
    --red: #fd7e51;
    --yellow: #fffae6;
}
