:root {
    --open-sans: open_sans, Arial, Helvetica, sans-serif;
    --libertinus: libertinus, Arial, Helvetica, sans-serif
}

@font-face {
    font-family: 'harmony';
    src: url("../font/HARMONY.otf") format("opentype");
}
