.maps {
    &__item {
        margin-bottom: 30px;

        @media (--max-767-viewport) {
            &:last-child img {
                margin-bottom: 0;
            }
        }

        @media (--md-viewport) {
            margin-bottom: 0;
        }
    }
}

